.bg-body-color {
  background-color: #c9f8f8;
}
.nav-color {
  background-color: #88d1d9;
}
.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #000;
}
.center {
  display: flex;
  justify-content: center !important;
}
.card {
  background-color: #6fd3de !important;
}
